.hovergallery img{
	-webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
	-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
	-o-transform:scale(0.8); /*Opera: масштабирование*/
	-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
	-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
	-o-transition-duration: 0.5s; /*Opera: длительность анимации*/
	opacity: 0.9; /*Начальная прозрачность изображений*/
	margin: 0 52px 5px 0; /*Интервалы между изображениями*/
	z-index:5;
}

.hovergallery img:hover{
	z-index:6;
	-webkit-transform:scale(1.5); /*Webkit: увеличиваем размер до 1.2x*/
	-moz-transform:scale(1.5); /*Mozilla: масштабирование*/
	-o-transform:scale(1.5); /*Opera: масштабирование*/
	box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
	-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
	-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
	opacity: 1;

}


.hovergallery
{
	margin-left:65px;
	margin-right: 50px;
}